<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appblade.framework"
    android:versionCode="2"
    android:versionName="0.9.4"  >

    <uses-sdk android:minSdkVersion="7" />
    <uses-sdk android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
    </application>

    <service class="com.appblade.framework.stats.AppBladeSessionLoggingService"
        android:label="AppBlade Session Logging"
        android:name="com.appblade.framework.stats.AppBladeSessionLoggingService" 
        android:exported="false" >
		<intent-filter>
		<action android:name="com.appblade.framework.stats.AppBladeSessionLoggingService" 
		     	android:value="com.appblade.framework.stats.AppBladeSessionLoggingService" />
		</intent-filter>
	</service>
	<!--TODO:   android:permission="com.appblade.framework.permissions.SESSION_LOGGING_PERMISSION"    -->
</manifest>