<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projectID</key>
	<string>ca460dcb-b7c2-43c1-ba50-8b6cda63f369</string>
	<key>token</key>
	<string>8f1792db8a39108c14fa8c89663eec98</string>
	<key>secret</key>
	<string>c8536a333fb292ba46fc98719c1cfdf6</string>
	<key>timestamp</key>
	<string>1316609918</string>
</dict>
</plist>
